<%= turbo_frame_tag "left-column" do %>
  <% notes = Note.where(user_id: current_user) %>
  <div class="list-wrapper">
    <div class="list-title column-title user-column-title">
      <div class="title-menu">
        <div class="menu-button-wrapper">
          <%= button_to 'Пароли', secure_records_path, data: { turbo_frame: "left-column" }, method: :get, class: "menu-button" %>
        </div>
      </div>
      <div class="title-text" style="display: flex; gap: 10px">
        Заметки
        <div class="plus-button_wrapper">
          <%= button_to '+', new_note_path, data: { turbo_frame: "note-new" }, class: "plus-btn", method: :get %>
        </div>
      </div>
    </div>


    <div class="list-container">
      <% notes.each do |note| %>
        <div class="item">
          <%= turbo_frame_tag note do %>
            <div class="item-links">
              <%= note.title %>
              <div class="item-actions">
                <%= link_to 'Инфо', note_path(note), class: "link", data: { turbo_frame: "record-info" } %>
                <%= link_to 'Изменить', edit_note_path(note), method: :get, class: "link", data: { turbo_frame: "note-edit" } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

