

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-edit blur-bg", style: "max-width: 1000px; border-radius: 10px; margin: 0 auto" }) do |f| %>

  <div style="text-align: center; font-size: 25px; font-weight: lighter">Редактирование профиля</div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em class="btn" style="cursor: default"><%= @minimum_password_length %> символов минимум</em>
      <i class="btn" style="cursor: default">Не заполняйте, если не будете менять пароль</i>
    <% end %>
  </div>

  <div class="form-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="form-field">
    <%= f.label "Текущий пароль" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    <i class="btn" style="cursor: default">Заполните для подтверждения изменений</i>
  </div>

  <div class="form-actions">
    <%= f.submit "Сохранить изменения", class: "btn btn-lg" %>
  </div>
<% end %>

<!--<h3>Cancel my account</h3>-->

<!--<div>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>-->

<%#= link_to "Back", :back %>
