<div class="article-form-wrapper">
  <%= form_for @article, data: { turbo: false }, html: { class: 'form-edit' } do |f| %>

    <%= link_to 'Назад', articles_path, class: 'btn' %>

    <div class="form-field">
      <%= f.label "Заголовок" %>
      <%= f.text_field :title, autofocus: true, required: true %>
    </div>

    <div class="form-field description">
      <%= f.label "Текст статьи" %>
      <%= f.text_area :body, required: true, rows: 15 %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Сохранить', class: 'btn btn-lg' %>
    </div>
  <% end %>
</div>