<div class="static-home-wrapper">

  <div class="guide-wrapper">

    <div class="guide-title">
      <h3>Информация</h3>
    </div>

    <div class="guide-container">

      <div class="sections-column">
        <% if current_user.can_working_with_articles? %>
          <%= link_to "Создать статью", new_article_path, class: "btn" %>
        <% end %>

        <% @articles.each do |article| %>
          <div class="section" id="section_<%= article.id %>" data-controller="articles" data-action="click->articles#show">
            <div class="section-title">
              <%= article.title %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="article-column">
        <% @articles.each do |article| %>
          <div id="article_<%= article.id %>" class="article">
            <%= simple_format(article.body) %>
            <% if current_user.can_working_with_articles? %>
              <div class="article-actions">
                <%= button_to "Редактировать", edit_article_path(article), method: :get, class: "btn" %>
                <%= button_to 'Удалить', article_path(article), method: :delete, data: { turbo: false }, class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>