<table class="history-table">
  <thead class="history-table-head">
    <tr>
      <th>Дата</th>
      <th>Исполнитель</th>
      <th>Цель</th>
      <th>Action</th>
      <th>Версия</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody class="history-table-body">
  <% User.all.each do |user| %>
    <% user.audits.order(id: :desc).each do |audit| %>
      <tr>
        <td><%= time_format(audit.created_at) %></td>
        <td><%= audit.user.first_name + ' ' + audit.user.last_name + ' ' + "| ID: #{audit.user.id}" %></td>
        <td><%= User.find(audit.auditable_id).first_name + ' ' + User.find(audit.auditable_id).last_name %></td>
        <td><%= audit.action %></td>
        <td><%= audit.version %></td>
        <td><%= format_audit_changes(audit) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>