<div class="history-table-wrapper">

  <div class="filters-wrapper">
    <div class="filters-container">
      <div class="filter">
        Выбор модели:
        <%= select_tag :audited_model, options_for_select([["Нет значения", nil]] + @audited_classes.map { |model| [model.name] }), id: "model-select", data: { controller: "history", action: "change->history#filter" } %>
      </div>
      <div class="filter">
        Выбор пользователя:
        <%= select_tag :user_id, options_for_select([["Нет значения", nil]] + @users.map { |user| [user.show_full_name, user.id] }), id: "user-select", data: { controller: "history", action: "change->history#filter" } %>
      </div>
    </div>
  </div>


  <table class="history-table">
    <thead class="history-table-head">
    <tr>
      <th>Дата</th>
      <th>Исполнитель</th>
      <th>ID Исполнителя</th>
      <th>Событие</th>
      <th>Класс цели</th>
      <th>Цель</th>
      <th>Версия</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody class="history-table-body">

    <% @audits.each do |audit| %>
      <tr>
        <td><%= time_format(audit.created_at) %></td>
        <td>
          <% if audit.user.present? %>
            <%= audit.user.decorate.show_full_name %>
          <% else %>
            system
          <% end %>
        </td>
        <td>
          <% if audit.user.present? %>
            <%= audit.user.id %>
          <% end %>
        </td>
        <td><%= audit.action %></td>
        <td><%= audit.auditable_type %></td>
        <td><%= destination_object(audit) %></td>
        <td><%= audit.version %></td>
        <td>
          <details>
            <summary><b class="summary-toggle">Раскрыть информацию</b></summary>
            <div class="audit-details">
              <%= format_audit_changes(audit) %>
            </div>
          </details>
        </td>
      </tr>
    <% end %>

    </tbody>

  </table>
</div>