<%= turbo_frame_tag "right-column" do %>

  <div class="column-title">Редактирование :
    <div class="title-login"><%= @user.login %></div>
  </div>

  <div class="form-wrapper form-edit">

    <% if current_user.can_edit_user? %>

      <%= form_for @user, url: user_path(@user), method: :patch do |f| %>

        <div id="flash">
          <%= render partial: 'shared/flash' %>
        </div>

        <div class="form-field">
          <%= f.label t('.login') %>
          <%= f.text_field :login, autofocus: true, required: true %>
        </div>

        <div class="form-field">
          <%= f.label t('.email') %>
          <%= f.email_field :email %>
        </div>

        <% if current_user.can_assign_department_to_user? %>
          <div class="form-field">
            <%= f.label t('.department') %>
            <%= f.collection_select :department_id, Department.all, :id, -> (department) { t("activerecord.attributes.department.name.#{department.name}") } %>
          </div>
        <% end %>

        <fieldset class="checkbox-wrapper">
          <legend class="checkbox-table-title"><%= t('activerecord.attributes.user.credentials') %></legend>
          <div class="checkbox-table">
            <%= f.collection_check_boxes :credential_ids, Credential.all, :id, -> (credential) { t("activerecord.attributes.credential.key.#{credential.key}") } do |cb| %>
              <div class="checkbox-table-item">
                <div class="checkbox-label">
                  <%= cb.label %>
                </div>
                <div class="checkbox-input">
                  <%= cb.check_box %>
                </div>
              </div>
            <% end %>
          </div>
        </fieldset>


        <div class="form-actions">
          <%= f.submit 'Сохранить изменения', class: 'btn btn-primary btn-md' %>
          <%= link_to 'Удалить пользователя', user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Удалить пользователя #{@user.login}?" }, class: 'btn btn-danger btn-sm' %>
        </div>


      <% end %>

    <% else %>

      <%= form_for current_user, url: user_path(current_user), method: :patch do |f| %>
        <div class="form-field">
          <%= f.label :login %>
          <%= f.text_field :login, autofocus: true %>
        </div>

        <div class="form-field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="form-action">
          <%= f.submit 'Сохранить' %>
        </div>

      <% end %>
    <% end %>
  </div>
<% end %>
