<%=turbo_frame_tag "department-info" do %>
  <div class="center-and-right-column column-title">
    Информация об отделе :
    <div class="title-login">
      <%= @department.name || @department.key %>
    </div>
    <button class="close-turbo-frame" data-frame-id="department-info">X</button>
  </div>
  <div class="show-wrapper department-show-wrapper">
    <div class="show-container">
      <fieldset class="info-container">
        <legend>Пользователи в этом отделе</legend>
        <div class="users-table">
          <% @department.users.each do |user| %>
            <details class="show-item">
              <summary class="item-links">
                <% user = UserDecorator.decorate(user) %>
                <%= link_to user.show_full_name, user_path(user), class: "item-name", data: { turbo_frame: "user-info" } %>
              </summary>
              <div class="user-email">
                <%= user.email %>
              </div>
              <div class="user-department">
                <%= user.department.name %>
              </div>
              <div class="item-actions">
                <%= link_to 'Инфо', user_path(user), class: "link", data: { turbo_frame: "user-info" } %>
                <%= link_to 'Изменить', edit_user_path(user), method: :get, class: "link", data: { turbo_frame: "user-edit" } %>
              </div>
            </details>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>