<div class="center-and-right-column column-title">
  Редактирование отдела :
  <div class="title-login">
    <%= @department.key %>
  </div>
</div>

<div class="form-wrapper form-edit">
  <%= form_for @department, url: department_path(@department), method: :patch do |f| %>

    <div id="flash">
      <%= render partial: 'shared/flash' %>
    </div>

    <div class="form-field">
      <%= f.label :key, 'Ключ' %>
      <% if @department.key == "without_department" %>
        <%= f.text_field :key, autofocus: true, readonly: true %>
      <% else %>
        <%= f.text_field :key, autofocus: true, required: true %>
      <% end %>
    </div>

    <div class="form-field">
      <%= f.label :name, 'Название' %>
      <% if @department.key == "without_department" %>
        <%= f.text_field :name, readonly: true %>
      <% else %>
        <%= f.text_field :name %>
      <% end %>
    </div>

    <% if @department.key != "without_department" %>

      <% if User.where(department: @department).present? %>
        <fieldset class="checkbox-wrapper">
          <legend class="checkbox-table-title">Пользователи в этом отделе</legend>
          <div class="checkbox-table">
            <%= f.collection_check_boxes :user_ids, @department.users, :id, -> (user) { user.login } do |user| %>
              <div class="checkbox-table-item">
                <div class="checkbox-label">
                  <%= user.label %>
                </div>
                <div class="checkbox-input">
                  <%= user.check_box %>
                </div>
              </div>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <% if User.where(department: nil?).present? %>
        <fieldset class="checkbox-wrapper">
          <legend class="checkbox-table-title">Пользователи без отдела</legend>
          <div class="checkbox-table">
            <%= f.collection_check_boxes :user_ids, User.where(department: 1), :id, -> (user) { user.login } do |user| %>
              <div class="checkbox-table-item">
                <div class="checkbox-label">
                  <%= user.label %>
                </div>
                <div class="checkbox-input">
                  <%= user.check_box %>
                </div>
              </div>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <div class="form-actions">
        <%= f.submit 'Сохранить', class: 'btn btn-primary btn-md' %>
        <%= link_to 'Удалить роль', department_path(@department), data: { turbo_method: :delete, turbo_confirm: "Удалить роль #{@department.key}?" }, class: 'btn btn-danger btn-md' %>
      </div>

    <% elsif User.where(department: nil?).present? %>
      <fieldset class="checkbox-wrapper">
        <legend class="checkbox-table-title">Добавить пользователей в отдел</legend>
        <div class="checkbox-table">
          <%= f.collection_check_boxes :user_ids, User.where(department: 1), :id, -> (user) { user.login } do |user| %>
            <div class="checkbox-table-item">
              <div class="checkbox-label">
                <%= user.label %>
              </div>
              <div class="checkbox-input">
                <%= user.check_box %>
              </div>
            </div>
          <% end %>
        </div>
      </fieldset>
    <% end %>

  <% end %>

</div>