<%= turbo_frame_tag "record-edit" do %>

  <div class="center-and-right-column column-title">
    Редактирование записи :
    <div class="title-login">
      <%= @record.title %>
    </div>
    <button class="close-turbo-frame btn btn-danger" data-frame-id="record-edit">X</button>
  </div>


    <div class="form-wrapper">
      <%= form_for @record, url: secure_record_path(@record), method: :patch, html: { class: 'form-edit' } do |f| %>

        <!--      <div id="flash">-->
        <%#= render partial: 'shared/flash' %>
        <!--      </div>-->

        <div class="form-field">
          <%= f.label :title, 'Заголовок' %>
          <%= f.text_field :title, autofocus: true, required: true %>
        </div>

        <div class="form-field">
          <%= f.label :login, 'Логин' %>
          <%= f.text_field :login %>
        </div>

        <div class="form-field">
          <%= f.label :password, 'Пароль' %>
          <%= f.password_field :password, value: @record.password, required: true, class: 'field-secure-record-password', data: { password: @record.password } %>
          <div class="show-buttons">
            <button class="btn show-btn closed" id="secure-record-password-btn" type="button" data-controller="secure_records" data-action="click->secure_records#showPasswordInField">
              <%= image_tag 'eye_closed.png', class: 'eye-icon', alt: 'eye_icon' %>
            </button>
            <button class="btn show-btn" id="copy-password-to-clipboard-btn" type="button" data-controller="secure_records" data-action="click->secure_records#copyPasswordInField">
              <%= image_tag 'copy.png', id: 'copy-icon', alt: 'copy_icon' %>
            </button>
            <button class="btn show-btn" id="generate-password-btn" type="button" data-controller="secure_records" data-action="click->secure_records#generatePassword">
              <%= image_tag 'dices.png', id: 'copy-icon', alt: 'copy_icon' %>
            </button>
          </div>
        </div>

        <div class="form-field description">
          <%= f.label :description, 'Описание' %>
          <%= f.text_area :description %>
        </div>


        <div class="form-actions">
          <%= f.submit 'Сохранить изменения', class: 'btn btn-lg' %>
          <%= link_to 'Удалить запись', secure_record_path(@record), data: { turbo_method: :delete, turbo_confirm: "Удалить запись #{@record.title}?" }, class: 'btn btn-danger btn-lg' %>
        </div>
      <% end %>
    </div>
<% end %>
