<%= turbo_frame_tag "left-column" do %>
  <% records = SecureRecord.where(user_id: current_user) %>
  <div class="list-wrapper">
    <div class="list-title column-title">
      <div class="title-menu">
        <div class="title-text">
          Записи
        </div>
        <div class="plus-button_wrapper">
          <%= button_to '+', new_secure_record_path, data: { turbo_frame: "record-new" }, class: "plus-btn", method: :get %>
        </div>
<!--        <div class="menu-button-wrapper">-->
          <%#= button_to 'Заметки', user_notes_path, data: { turbo_frame: "left-column" }, method: :get, class: "menu-button" %>
<!--        </div>-->
      </div>
    </div>


    <div class="list-container">
        <% records.each do |record| %>
          <div class="item">
            <%= turbo_frame_tag record do %>
              <div class="item-links">
                <%= record.title %>
                <div class="item-actions">
                  <%= link_to 'Инфо', secure_record_path(record), class: "link", data: { turbo_frame: "record-info" } %>
                  <% if current_user.can_edit_user? %>
                    <%= link_to 'Изменить', edit_secure_record_path(record), method: :get, class: "link", data: { turbo_frame: "record-edit" } %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
<% end %>

