<%= turbo_frame_tag "role-new" do %>
  <div class="center-and-right-column column-title">
    Создание новой роли
    <button class="close-turbo-frame btn btn-danger" data-frame-id="role-new">X</button>
  </div>
  <div class="form-wrapper form-edit">
    <%= form_with model: @role, local: true do |f| %>

<!--      <div id="flash">-->
        <%#= render partial: 'shared/flash' %>
<!--      </div>-->

      <div class="form-field">
        <%= f.label :key, 'Ключ' %>
        <%= f.text_field :key, autofocus: true, required: true %>
      </div>
      <div class="form-field">
        <%= f.label :name, 'Название' %>
        <%= f.text_field :name %>
      </div>
      <div class="form-actions">
        <%= f.submit 'Сохранить', class: 'btn btn-primary btn-md' %>
      </div>
    <% end %>
  </div>
<% end %>