<%= turbo_frame_tag "left-column" do %>
  <% roles = Role.all.order created_at: :desc %>
  <div class="list-wrapper">
    <div class="list-title column-title">
      <div class="menu-button-wrapper">
        <%= button_to 'Пользователи', admin_users_path, data: { turbo_frame: "left-column"}, method: :get, class: "btn btn-primary" %>
      </div>
      <div class="title-menu">
        <div class="title-text">
          Роли [<%= Role.count %>]
        </div>
        <div class="plus-button_wrapper">
          <%= button_to '+', new_admin_role_path, data: { turbo_frame: "role-new" }, class: "plus-button btn btn-primary", method: :get %>
        </div>
      </div>
      <div class="menu-button-wrapper">
        <%= button_to 'Отделы', admin_departments_path, data: { turbo_frame: "left-column"}, method: :get, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="list-container">
      <% roles.each do |role| %>
        <div class="item">
          <%= turbo_frame_tag role do %>
            <div class="item-links">
              <%= link_to (role.name.present? ? role.name : role.key), admin_role_path(role), class: "item-name", data: { turbo_frame: "role-info" } %>
              <div class="item-actions">
                <%= link_to 'Инфо', admin_role_path(role), class: "link", data: { turbo_frame: "role-info" } %>
                <%= link_to 'Изменить', edit_admin_role_path(role), method: :get, class: "link", data: { turbo_frame: "role-edit" } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

