<div class="index-wrapper">
  <div class="index-container">
    <h2>Список ролей</h2>
    <table class="index-table">
      <thead>
      <tr>
        <th>Ключ</th>
        <th>Действия</th>
      </tr>
      <tr>
        <% @all_roles.each do |role| %>
          <td>
            <%= link_to role.key, role_path(role) %>
          </td>
          <td>
            <%= link_to "Редактировать", edit_role_path(role) %>
            <%= link_to "Подробнее", role_path(role) %>
          </td>
        <% end %>
      </tr>
      </thead>
    </table>
  </div>
</div>


<h2>Список ролей</h2>

<% @all_roles.each do |role| %>
  <h3><%= role.key %></h3>
<% end %>
<div class="actions-container">
  <div class="action-item">
    <%= link_to "Создать роль", new_role_path %>
  </div>
</div>
