<%= turbo_frame_tag "left-column" do %>
  <% users = User.all.order created_at: :desc %>
  <div class="list-wrapper">
    <div class="list-title column-title">
      <div class="title-menu">
        <div class="title-text">
          Пользователи
        </div>
      </div>
      <div class="menu-button-wrapper">
        <%= button_to 'Роли', admin_roles_path, data: { turbo_frame: "left-column" }, method: :get, class: "menu-button" %>
      </div>
      <div class="menu-button-wrapper">
        <%= button_to 'Отделы', admin_departments_path, data: { turbo_frame: "left-column" }, method: :get, class: "menu-button" %>
      </div>
    </div>

      <%= button_to 'Создать нового пользователя', new_user_registration_path, data: { turbo_frame: "user-new" }, class: "plus-btn", method: :get %>



    <div class="list-container">
      <% users.each do |user| %>
        <div class="item">
          <%= turbo_frame_tag user do %>
            <div class="item-links">
              <% user = UserDecorator.decorate(user) %>
              <%= link_to user.show_full_name, admin_user_path(user), class: "item-name", data: { turbo_frame: "user-info" } %>
              <div class="item-actions">
                <%= link_to 'Инфо', admin_user_path(user), class: "link", data: { turbo_frame: "user-info" } %>
                <% if current_user.can_edit_user? %>
                  <%= link_to 'Изменить', edit_admin_user_path(user), method: :get, class: "link", data: { turbo_frame: "user-edit" } %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

