<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      BlackBox
    </div>
    <div class="navbar-menu">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to "Админ панель", admin_cpanel_path, class: "navbar-item btn" %>
        <% end %>
        <%= link_to "Профиль", edit_user_registration_path, class: "navbar-item btn" %>
        <%= link_to "Панель пользователя", upanel_path, class: "navbar-item btn" %>
        <%= link_to "Справка", articles_path, class: "navbar-item btn" %>
        <%= button_to "Выйти", destroy_user_session_path, method: :delete, data: {turbo_confirm: "Вы уверены, что хотите выйти?"}, class: "navbar-item btn btn-danger" %>
      <% end %>
    </div>
  </div>
</nav>